/*all the main units defies here*/

.div
{
    font-family: Arial, Helvetica, sans-serif;
}
.unit2{ /*Header and Footer Colors*/
    background-color: #1f2937 ;

}
.unit3
{ /*Body Section 1*/
    background-color: white;
    color: #1f2937;
    height: 250pt;
}
    
.unit4{
    background-color: #e5e7eb;
    color: #1f2937;
}



/*all the paragraphs defined here*/
.pa1 
{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.pa2
{
    color: #e5e7eb;
    font-size: 18px;

}

.pa3
{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.pa4
{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.pa5
{
    font-weight: bold;
    text-align: end;

}
.pa6
{
    background-color: #3882f6;
    color: white;
    font-weight: bold;
}

.pa7
{
    background-color: #3882f6;
    color: white;
    
}
.pa8
{
    
    color: white;
    text-align: center;
    
}
/*all buttons will appear here*/
.signup
    { /*sign up button*/
        background-color: #3882f6;
        color:white;
        box-sizing: border-box;
        border-radius: 20px;
        
    }